{# ── Palo Alto Panorama: Application Objects ──────────────────── #}

{% for app in device.fw_application_objects %}
set device-group {{ device_group }} application {{ app.name }} category {{ app.category }}
set device-group {{ device_group }} application {{ app.name }} subcategory {{ app.subcategory }}
set device-group {{ device_group }} application {{ app.name }} technology {{ app.technology }}
set device-group {{ device_group }} application {{ app.name }} risk {{ app.risk }}
{% if app.default_port %}
set device-group {{ device_group }} application {{ app.name }} default port {{ app.default_port }}
{% endif %}
{% if app.description %}
set device-group {{ device_group }} application {{ app.name }} description "{{ app.description }}"
{% endif %}
{% endfor %}
